---
# kayak.scss
# Specific styles for KAYAK case-study.
---

@import "variables";
@import "case-study";

$k-orange: #F29530;

.alt-section {
  background-color: #FAFAFA;
}

h2 span {
  font-weight: 300;
}

/* Sections */
h1 {
  color: $k-orange;
}

#laptop-container {
  margin-top: 96px;
}

#intro-laptop {
  margin-bottom: 0;
}

#introduction {
  padding-top: 0;
}

.side-items {
  list-style: none;
  padding-left: 0;

  li {
    padding: 15px;
    border-radius: 4px;

    &:hover {
      cursor: default;
      background-color: rgba(237, 232, 227, 0.6);
    }
  }

  h3 {
    margin-top: 0;
    margin-bottom: 8px;
  }

  p {
    margin: 0;
    font-size: 1.6rem;
  }
}

#design-items {
  margin-top: 30px;
  margin-bottom: 60px;
}

#engineering-items .col-md-6 {
  margin: 15px 0;
}

#engineering-items svg {
  height: 48px;
  margin-top: 24px;
  margin-bottom: 12px;
}

#push-state svg {
  margin-top: 32px;
  height: 40px;
}

#solutions-design {
  padding-bottom: 0;
}

#landing-page {
  margin-top: 60px;
  margin-bottom: -40px;
}

#solutions-engineering {
  padding-top: 120px;
}
