/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */


html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
 * Typography
 */
@font-face {
  font-family: 'Mercury Display Bold';
  src: url('/fonts/Mercury-DisplayBold/mercury-displaybold.eot?') format('eot'), url('/fonts/Mercury-DisplayBold/mercury-displaybold.woff') format('woff'), url('/fonts/Mercury-DisplayBold/mercury-displaybold.ttf') format('truetype');
}

@font-face {
  font-family: 'Mercury';
  src: url('/fonts/Mercury-TextG1Roman/mercury-textg1roman.eot?') format('eot'), url('/fonts/Mercury-TextG1Roman/mercury-textg1roman.woff') format('woff'), url('/fonts/Mercury-TextG1Roman/mercury-textg1roman.ttf') format('truetype');
}

@font-face {
  font-family: 'Mercury Italic';
  src: url('/fonts/Mercury-TextG1Italic/mercury-textg1italic.eot?') format('eot'), url('/fonts/Mercury-TextG1Italic/mercury-textg1italic.woff') format('woff'), url('/fonts/Mercury-TextG1Italic/mercury-textg1italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Mercury Semibold';
  src: url('/fonts/Mercury-TextG1Semibold/mercury-textg1semibold.eot?') format('eot'), url('/fonts/Mercury-TextG1Semibold/mercury-textg1semibold.ttf') format('truetype');
}

i, em {
    font-family: "Mercury Italic";
}

b, strong {
    font-family: "Mercury Semibold";
}

/*
 * Responsive media
 */

 img, video, canvas {
    max-width: 100%;
 }

 /*
  * Layout
  */

body {
    border-top: 5px solid #570000;
    color: #333;

    font-size: 1.2em;
    font-family: "Mercury", Georgia, serif;
}

.container {
    max-width: 600px;
    padding: 10px 20px;
    margin: auto;
}

.typekit-badge {
    display: none;
    opacity: 0;
}

/*
 * General Elements
 */
a {
    color: #570000;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid #570000;
}

/*
 * Header
 */
h1 {
    font-family: "Mercury Display Bold", "Mercury", Georgia, serif;
    font-weight: normal;
    border-bottom: 1px solid #570000;
}

h1 > a, h1 > a:hover {
    color: inherit;
    border-bottom: none;
}


/*
 * Navigation
 */
nav > ul {
    padding: 0;
}

nav > ul > li {
    display: inline-block;
    margin-right: 0.5em;
}

.nav-link {
    border: none;
}

.nav-current {
    border-bottom: 1px solid #570000;
}

/*
 * Social Icons
 */
#social-icons {
    padding: 1em 0;
    text-align: center;

    border-top: 1px solid #999;
}

.social-icon, .social-icon:visited {
    text-decoration: none;
    border: none;
    color: #999;

    font-size: 1.2em;
    vertical-align: middle;
    margin: 0 0.1em;
}

.social-icon:hover {
    color: #570000;
    border: none;
}

/* ==========================================================================
   Media Queries for Responsive Design.
   Theses styles override the primary ('mobile first') styles.
   ========================================================================== */

@media screen and (min-width: 600px) {

    .portrait {
        display: inline-block;
        max-width: 150px;
    }

    .content {
        display: inline-block;
    }

    .container {
        padding: 40px 20px;
    }

    .social-icon:hover {
        transition: 0.15s;
    }
}

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
