---
# main.scss
# Compiles all the SCSS files into one.
---

/* Imports */
@import "bootstrap-grid.min";
@import "fonts";

/* Basics */

html {
  font-size: 62.5%;
}

body {
  font-family: "Atlas Grotesk", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2.4rem;

  color: #333;
}

.container {
  max-width: 740px;
}

h1, h2 {
  font-size: 2rem;
}

h3, h4, h5, h6 {
  font-size: 1.8rem;
}

p {
  margin: 24px 0;
}

a {
  color: currentColor;
  text-decoration: none;

  border-bottom: 1px solid currentColor;

  &:hover {
    text-decoration: none;
    border-bottom: 2px solid currentColor;
  }
}

/* Sections */

#intro {
  height: 100vh;

  display: flex;
  align-items: center;

  h1, .desc {
    margin: 0;
    font-size: 2rem;
  }

  h1 {
    margin-bottom: 4px;
  }

  .learn-more {
    border: 0;
    color: #666;

    &:hover {
      color: #333;
      border-bottom: 1px solid currentColor;
    }
  }
}

#work {
  margin-top: -30px;

  .thumb {
    min-height: 200px;
    margin-bottom: 20px;
    padding: 16px;

    border: 1px solid #ccc;
    border-radius: 5px;
  }

  h3 {
    margin: 0;
    margin-bottom: 8px;
  }

  h3 + p {
    margin: 0;

    font-size: 1.6rem;
    line-height: 2rem;
  }
}

#facebook, #hackatbrown {
  height: 420px;
}

@media (min-width: 768px) {
  #about-me {
    height: 420px;
  }
}

/* Side Projects */
#side-projects {
  margin-top: 140px;

  h2 {
    margin: 0;
    margin-bottom: 20px;
  }

  h3 {
    margin: 0;
    margin-top: 24px;

    font-weight: 400;
    font-style: italic;
  }

  h3 + p {
    margin: 0;
  }
}

/* Footer */
footer {
  margin-top: 160px;
  margin-bottom: 60px;
  padding-top: 24px;

  border-top: 1px solid #bbb;

  .right {
    text-align: right;
  }
}