---
# main.scss
# Shared styles.
---

/* Imports */
@import "vendor/bootstrap-grid.min";
@import "vendor/zoom";
@import "fonts";
@import "variables";

/* Basics */

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  min-height: 100vh;

  font-family: "Atlas Grotesk", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.5;

  color: #333;
}

.container {
  max-width: 740px;

  @media (max-width: $screen-sm) {
    padding-left: 18px;
    padding-right: 18px;
  }
}

h1, h2 {
  font-size: 2rem;
  font-weight: 500;
}

h3 {
  margin-top: 24px;
  margin-bottom: 12px;

  font-size: 1.8rem;
  font-weight: 500;
}

h3 + p {
  margin-top: 0;
}

h4 {
  margin-top: 40px;
  margin-bottom: 16px;

  font-size: 1.4rem;
  line-height: 1.8rem;

  text-transform: uppercase;
  letter-spacing: 2px;

  color: #999;
}

p {
  margin: 24px 0;
}

a {
  color: #333;
  text-decoration: none;

  border: 0;
  border-bottom: 1px solid currentColor;

  &:hover, &:visited, &:focus {
    color: #333;
    text-decoration: none;
    border-bottom: 2px solid currentColor;
  }

  &.no-underline {
    border: 0 !important;
  }
}

img {
  max-width: 100%;
  margin-bottom: 32px;
}

figure {
  position: relative;
  padding: 0 20px;
  padding-bottom: 20px;

  &.fig-center {
    text-align: center;

    figcaption {
      text-align: left;
    }
  }

  &.fig-right {
    float: right;
    margin-right: -20%;

    img {
      margin-bottom: 20px;
    }

    figcaption {
      max-width: 100%;
      margin: 0;
      padding: 0;
    }
  }
}

figcaption {
  max-width: 520px;
  margin: 20px auto;
  padding: 0 20px;

  font-size: 1.4rem;
  color: #999;

  strong {
    color: #777;
  }
}

video {
  vertical-align: bottom;
}

/* Header */
header {
  margin-top: 48px;
  margin-bottom: 32px;
  padding-bottom: 16px;

  border-bottom: 1px solid #bbb;

  .title {
    font-size: 1.8rem;
    font-weight: 500;
  }

  nav {
    text-align: right;
  }
}

/* Footer */
footer {
  margin-top: 120px;
  margin-bottom: 60px;
  padding-top: 24px;

  border-top: 1px solid #bbb;

  .right {
    text-align: right;
  }

  @media (max-width: $screen-sm) {
    margin-top: 60px;
    margin-bottom: 20px;

    .row > div {
      text-align: center;
      margin-bottom: 10px;
    }
  }
}
