<div id="social_icons">
    <a class="fa fa-envelope" title="Email" href="mailto:athyuttamre@gmail.com"></a>
    <a class="fa fa-twitter" title="Twitter" href="http://twitter.com/athyuttamre"></a>
    <a class="fa fa-github" title="GitHub" href="http://github.com/athyuttamre"></a>
</div>