<div id="social-icons">
    <a class="social-icon fa fa-envelope-o" title="Email" href="mailto:athyuttamre@gmail.com"></a>
    <a class="social-icon fa fa-twitter" title="Twitter" href="http://twitter.com/athyuttamre"></a>
    <a class="social-icon fa fa-github" title="GitHub" href="http://github.com/athyuttamre"></a>
</div>