---
description: "Athyuttam Reddy, Designer &amp; Developer"
container_classes: "animated fadeInDown"
---

<p>My name is Atty, and I'm an undergraduate student at Brown University studying computer science and design. As a programmer, I'm interested in computer graphics and human computer interaction, and as a designer in <abbr title="User Experience">UX</abbr> design and illustration.</p>

<p>This summer I'm working as a design engineering intern at <a href="http://kayak.com">KAYAK</a>. During the school year, I'm also closely involved in putting together <a href="http://hackatbrown.org">Hack@Brown</a>.</p>

<p>If you'd like to get in touch, feel free to find me on <a href="http://twitter.com/athyuttamre">Twitter</a> or <a href="mailto:athyuttamre@gmail.com">email</a> me.</p>