<h1>Projects</h1>
<ul class="projects_list">
    <li class="project">
        <h2>Hack@Brown</h2>
        <p>Brown University's annual 24-hour student hackathon.</p>
    </li>
    <li class="project">
        <h2>Pia</h2>
        <p>Voice-controlled personal assistant for the web.</p>
    </li>
    <li class="project">
        <h2>Accessible Facebook UI</h2>
        <p>An accessible implementation of Facebook's core features designed for people with motor disabilities.</p>
    </li>
    <li class="project">
        <h2>Assistive Tech Makeathon</h2>
        <p>A makeathon aimed to inspire innovation in assistive hardware and software for individuals with visual, hearing, motor and speech disabilities.</p>
    </li>
</ul>